@import "../partials/Header/Header.css";
@import "../partials/Nav/Nav.css";

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row {
  align-items: center;
}
.sec {
  width: 100vw;
  height: 100vh;
}
.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}
