<nav class="flex flex-col sec">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/">Men</a></li>
		<li><a href="/">Women</a></li>
		<li><a href="/">Kits</a></li>
		<li><a href="/">Subscription Box</a></li>
		<li><a href="/">About</a></li>
		<li><a href="/">Contact</a></li>
	</ul>
	<p><a href="/" class="logo">SW</a></p>
</nav>