<nav class="flex flex-col sec">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/mens">Men</a></li>
		<li><a href="/womens">Women</a></li>
		<li><a href="/soaps">Soap</a></li>
		<li><a href="/kits">Kits</a></li>
		<li><a href="/subscriptions">Subscription Box</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
	<p>
		<a href="/" class="logo">SW</a>
	</p>
	<i class="fa-solid fa-cart-shopping"></i>
</nav>