<nav class="flex">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/men">Men</a></li>
    <li><a href="/women">Women</a></li>
    <li><a href="/soaps">Soap</a></li>
    <li><a href="/kits">Kits</a></li>
    <li><a href="/subscriptions">Subscription Box</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>