@import "../partials/Header/Header.css";
@import "../partials/Nav/Nav.css";
@import "../partials/BlowUpView/BlowUpView.css";
@import "../partials/Footer/Footer.css";
@import "../partials/Contact/Contact.css";
@import "../partials/Cart/Cart.css";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive;
  overflow-x: hidden;
  padding: 0 20px;
}
section {
  margin-bottom: 250px;
}
button {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 1em;
  background-color: #efd0d9;
  width: 100%;
  margin-top: 1em;
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row {
  align-items: center;
}
.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 994;
  transition: 250ms ease-out;
}
.backdrop.show {
  opacity: 1;
  pointer-events: all;
}
