header {
  position: fixed;
  padding: 0.5em 1em;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 100px 0 #eee;
  border-radius: 0 0 0.5em 0.5em;
  z-index: 998;
  background-color: rgba(255, 255, 255, 1);

  .shopping-cart {
    opacity: 1;
    transition: 250ms ease-in-out;
  }

  .shopping-cart.show {
    opacity: 0;
  }

  .logo {
    text-decoration: none;
    color: #000;

    img {
      height: 30px;
      width: 30px;
    }
  }
}

.menu-toggle {
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 999;

  span {
    width: 100%;
    height: 2px;
    border-radius: 1em;
    background-color: #000;
    margin: 1px 0;
    transition: 100ms ease-in-out;

    &:nth-child(1).x {
      transform: rotateZ(45deg) translateY(6px);
    }

    &:nth-child(2).x {
      opacity: 0;
    }

    &:nth-child(3).x {
      transform: rotateZ(-45deg) translateY(-6px);
    }
  }
}
