<header class="flex flex-row">
  <i class="fa-solid fa-bag-shopping shopping-cart"></i>
  <a href="/" class="logo">
    <img src="../../assets/images/logo.svg" alt="logo" />
  </a>
  <div class="menu-toggle flex flex-col">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <%- include('../Nav/Nav.ejs') %>
</header>