header {
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100vw;
  box-shadow: 0.1em 0.1em 0.5em 0 #000;
  border-radius: 0 0 0.5em 0.5em;
  z-index: 998;
  background-color: rgba(255,255,255, 0.5);
  .logo {
    text-decoration: none;
    color: #000;
    padding: 1em;
    font-size: 2em;
  }
}
.menu-toggle {
  width: 40px;
  height: 40px;
  margin-right: 2em;
  cursor: pointer;
  z-index: 999;
  span {
    width: 100%;
    height: 3px;
    border-radius: 1em;
    background-color: #000;
    margin: 3px 0;
    transition: 250ms ease-in-out;
    &:nth-child(1).x {
      transform: rotateZ(45deg) translateY(0.75em);
    }
    &:nth-child(2).x {
      opacity: 0;
    }
    &:nth-child(3).x {
      transform: rotateZ(-45deg) translateY(-0.75em);
    }
  }
}
