img {
  width: 100%;
}

.about-heading-img {
}

h1 {
}

h2 {
  margin-top: 1em;
}

p {
}

section {
  //padding: 0 10px;
  margin-top: 50px;
}

.no-mt {
}

.end {
  text-align: center;
  margin-bottom: 100px;
}
