img {
  width: 100%;
  height: 25%;
  z-index: -1;
}

.about-heading-img {
  position: absolute;
  top: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
  margin-left: 2%;
  margin-top: 1em;
}

p {
  font-size: 2em;
  margin-left: 4%;
  margin-right: 4%;
}

section {
  padding: 0 2%;
  width: 100vw;
  margin-top: 35%;
  margin-bottom: 10%;
}

.no-mt {
  margin-top: 5%;
}

.end {
  margin: 1em 4em;
  text-align: center;
  font-weight: 600;
}