.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.filtered-title {
  font-size: 6em;
  margin-left: 2.5%;
  margin-bottom: 1em;
}

.product-information-container {
  opacity: 0;
  display: none;
  position: fixed;
  inset: 0;
  background-color: #fff;
  transition: 250ms ease-in-out;
  z-index: 999;

  .fa-xmark {
    font-size: 4em;
    margin: 10px 0 0 10px;
  }

  h2 {
    font-size: 4em;
    margin-top: 4em;
  }
}

.product-information-container.show {
  display: block;
}

.product {
  margin: 50px 0;
  opacity: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 15px 100px 0 #000;
  cursor: pointer;
  transform: translateX(-25px);
  transition: $trans-fast;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .product-img {
    overflow: hidden;
    transition: 500ms ease-in-out;
    border-radius: 10px;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  .price {
    font-weight: 600;
  }

  button {
    border-radius: 0.5em;
    transition: 250ms ease-in-out;
    width: 100%;

    &:hover {
      background-color: #fff;
      scale: 1.01;
    }

    strong {
      pointer-events: none;
    }
  }

  .share {}
}

.option-btns {
  margin: 0 auto 3em auto;
  border-radius: 0.25em 0.25em 1em 1em;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    padding: 10px 15px;
  }
}



// Media queries
@media (min-width: 640px) {
  .filter-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-content: center;
    gap: 1em;
  }

  .product {
    margin: 0 0;
  }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {
  .filter-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-content: center;
    gap: 1em;
  }

  .product {
    margin: 0 0;
  }
}