*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Shalimar", cursive;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
//variables
$trans-slo: 1s ease-in-out;
$trans-med: 500ms ease-in-out;
$trans-fast: 250ms ease-in-out;
$shadow-sm: 0 0.5em 1em 0 #777;
$radius-btm: 0 0 0.5em 0.5em;
body {
  overflow-x: hidden;
  padding-top: 25%;
}
.heading {
  margin-left: 2%;
  font-weight: 600;
  font-size: 4em;
}
.intro {
  display: block;
  width: 100vw;
  padding: 1em 4em 1em 2%;
  margin: 1em 0 2em 0;
  font-size: 2em;
}
h2 {
  margin-left: 2%;
}
.soaps {
  width: 100vw;
  padding: 0 2em;
  margin-top: 5%;
  .grid-item {
    position: relative;
    margin: 1em 1em;
    width: 42.5%;
    height: 450px;
    border-radius: 1em;
    background-color: #eee;
    box-shadow: $shadow-sm;
    transition: $trans-med;
    &:hover {
      scale: 1.025;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 1em;
    }
    h2 {
      position: absolute;
      padding: 0.1em 0.3em;
      bottom: 2%;
      left: 0;
      z-index: 1;
      font-size: 3em;
      font-weight: 600;
      background-color: #fff;
      border-radius: 0 1em 0 1em;
      box-shadow: -0.1em 0.1em 0.25em 0 #000;
    }
    p {
      position: absolute;
      bottom: 0%;
      right: 0%;
      font-size: 3em;
      font-weight: 600;
      z-index: 1;
      color: #fff;
      padding: 0.25em;
      border-radius: 0.25em 0 0.25em 0;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  .height-1 {
    height: 550px;
  }
  .height-2 {
    height: 675px;
  }
  .height-3 {
    height: 750px;
  }
  .height-4 {
    height: 900px;
  }
}
