li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

//variables
$trans-slo: 1s ease-in-out;
$trans-med: 500ms ease-in-out;
$trans-fast: 250ms ease-in-out;
$shadow-sm: 0.25em 0.5em 0.5em 0 #eee;
$radius-btm: 0 0 0.5em 0.5em;

body {
  padding-top: 25%;
}

.heading {
  margin-left: 2%;
  font-weight: 600;
  font-size: 4em;
  opacity: 0;
  transition: 2s ease-in-out;
  transform: translateX(-100%);
}

.intro {
  padding: 1em 4em 1em 2%;
  margin: 1em 0 2em 0;
  font-size: 1em;
  opacity: 0;
  transition: 1s ease-in-out;
  transition-delay: 1s;
  transform: translateX(-100%);
}

.intro.inview {
  opacity: 1;
  transform: translateX(0);
  transition: 1.5s ease-in-out;
  transition-delay: none;
}

h2 {
  margin-left: 2%;
}

.second-heading {
  margin-left: 2%;
  margin-top: 2em;
  font-size: 5em;
}

.soaps {
  width: 100vw;
  padding: 0 2em;
  margin-top: 5%;

  img {
    opacity: 1;
    transition: $trans-med;
  }
}

.grid-item {
  opacity: 0;
  position: relative;
  margin: 1em 1em;
  min-width: 42.5%;
  max-width: 42.5%;
  border-radius: 1em;
  background-color: #eee;
  box-shadow: $shadow-sm;
  overflow-x: hidden;
  transition: $trans-fast;

  &:hover {
    scale: 1.025;
  }

  img {
    position: absolute;
    min-width: 100%;
    height: 100%;
    border-radius: 1em;
    transition: $trans-med;
  }

  h2 {
    position: absolute;
    padding: 0.1em 0.3em;
    bottom: 5px;
    left: 5px;
    z-index: 1;
    font-size: 2em;
    font-weight: 600;
    background-color: #fff;
    border-radius: 0 1em 0 0.25em;
    box-shadow: -0.1em 0.1em 0.25em 0 #eee;
  }

  p {
    position: absolute;
    bottom: 0%;
    right: 0%;
    font-size: 3em;
    font-weight: 600;
    z-index: 1;
    color: #fff;
    padding: 0.25em;
    border-radius: 0.25em 0 0.25em 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.grid-item.inview {
  opacity: 1;
  transition: $trans-slo;
}

.height-0 {
  height: 450px;
}

.height-1 {
  height: 550px;
}

.height-2 {
  height: 675px;
}

.height-3 {
  height: 750px;
}

.view-more-soaps {
  display: block;
  text-align: right;
  margin-right: 5%;
  margin-top: 5vh;
  color: #000;
}

.kits {
  width: 100vw;
  padding: 0 2em;
  margin-top: 5%;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;

  .kit-item {
    opacity: 0;
    position: relative;
    border-radius: 1em;
    background-color: #fff;
    box-shadow: $shadow-sm;
    max-width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    cursor: pointer;
    transform: translateX(-50vw);
    transition: $trans-fast;

    &:hover {
      scale: 1.025;
    }

    img {
      border-radius: 1em;
      min-width: 100%;
      max-height: 450px;
      min-height: 450px;
      pointer-events: none;
    }

    h2 {
      border-radius: 1em 1em 0 0;
      width: 100%;
      padding: 0 0 0.5em 0.25em;
      font-size: 2em;
    }

    p {
      position: absolute;
      width: max-content;
      font-size: 1.5em;
      font-weight: 600;
      top: 2%;
      right: 2%;
      color: #000;
      background-color: #fff;
      padding: 0 0.5em;
      border-radius: 0 1em 0 1em;
      box-shadow: 0 0.1em 0.25em 0 #eee;

      strong {
        font-size: 3em;
      }
    }
  }

  .kit-item.inview {
    opacity: 1;
    transition: $trans-slo;
    transform: translateX(0);
  }
}

.subs {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .sub {
    margin: 5% 0 10% 0;
    padding: 2.5em;
    width: 90%;
    border-radius: 1em;
    box-shadow: 0 0.25em 0.75em 0 #aaa;
    opacity: 0;
    transform: translateY(5vh);

    img {
      border-radius: 1em;
      width: 100%;
    }

    .title-and-price {
      margin-top: 2em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      font-size: 4em;
      margin-left: 0;
    }

    h3 {
      font-size: 2.5em;
      margin-top: 1em;
    }

    p {
      font-size: 1em;
    }

    .price {
      font-weight: 600;
      font-size: 4em;
    }

    .sub-includes {
      margin-top: 1em;
      display: grid;
      gap: 0 1em;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      .sub-item {
        font-size: 0.75em;
      }
    }

    .buy-btn {
      width: 100%;
      margin-top: 20%;
      padding: 1em 2em;
      font-size: 2em;
      border-radius: 0.5em;
      transition: 250ms ease-in-out;

      &:hover {
        background-color: #fff;
        scale: 1.01;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .sub.inview {
    opacity: 1;
    transform: translateY(0);
    transition: 1s ease-in-out;
  }
}