.heading {
  margin-top: 100px;
  font-weight: 600;
  font-size: 4em;
  opacity: 0;
  transition: 2s ease-in-out;
  transform: translateX(-100%); }

a {
  color: #000; }

.intro {
  margin-bottom: 75px;
  opacity: 0;
  transition: 1s ease-in-out;
  transition-delay: 1s;
  transform: translateX(-100%); }

.intro.inview {
  opacity: 1;
  transform: translateX(0);
  transition: 1.5s ease-in-out;
  transition-delay: none; }

.grid-item {
  width: 47%;
  opacity: 0;
  margin: 5px;
  border-radius: 1em;
  background-color: #eee;
  box-shadow: 0.25em 0.5em 0.5em 0 #eee;
  overflow: hidden;
  transition: 250ms ease-in-out; }
  .grid-item:hover {
    scale: 1.025; }
  .grid-item img {
    border-radius: 1em;
    transition: 500ms ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: cover; }

.grid-item.inview {
  opacity: 1;
  transition: 1s ease-in-out; }

.height-0 {
  height: 150px; }

.height-1 {
  height: 250px; }

.height-2 {
  height: 350px; }

.height-3 {
  height: 400px; }

.view-more {
  color: #000;
  margin-top: 25px;
  display: block; }

.kits .kit-item {
  margin: 50px 0;
  opacity: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 15px 100px 0 #eee;
  cursor: pointer;
  transform: translateX(-50vw);
  transition: 250ms ease-in-out; }
  .kits .kit-item:hover {
    scale: 1.025; }
  .kits .kit-item img {
    border-radius: 8px;
    pointer-events: none;
    width: 100%; }
  .kits .kit-item .kit-text {
    padding: 8px; }

.kits .kit-item.inview {
  opacity: 1;
  transition: 1s ease-in-out;
  transform: translateX(0); }

.subs .sub {
  border-radius: 8px;
  box-shadow: 0 15px 100px 0 #eee;
  opacity: 0;
  transform: translateY(5vh);
  margin: 50px 0; }
  .subs .sub .sub-text {
    padding: 1em; }
  .subs .sub img {
    width: 100%;
    border-radius: 8px; }
  .subs .sub .title-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .subs .sub .sub-includes {
    margin-top: 1em; }
    .subs .sub .sub-includes ul {
      margin-left: 1em; }
  .subs .sub .buy-btn {
    border-radius: 0.5em;
    transition: 250ms ease-in-out; }
    .subs .sub .buy-btn:hover {
      background-color: #fff;
      scale: 1.01; }
  .subs .sub:last-child {
    margin-bottom: 0; }

.subs .sub.inview {
  opacity: 1;
  transform: translateY(0);
  transition: 1s ease-in-out; }
