<Footer class="main-footer">
	<div class="footer-links">
		<ul>
			<li><a href="/">Careers</a></li>
			<li><a href="/">About us</a></li>
			<li><a href="/">Contact</a></li>
			<li><a href="/">Suggestions</a></li>
		</ul>
		<ul>
			<li><a href="/">Proccess</a></li>
			<li><a href="/">Ambassadors</a></li>
			<li><a href="/">Issues</a></li>
			<li><a href="/">Disclaimer</a></li>
		</ul>
		<ul>
			<li><a href="/">Proccess</a></li>
			<li><a href="/">Ambassadors</a></li>
			<li><a href="/">Issues</a></li>
			<li><a href="/">Disclaimer</a></li>
		</ul>
		<ul>
			<li><a href="/">Proccess</a></li>
			<li><a href="/">Ambassadors</a></li>
			<li><a href="/">Issues</a></li>
			<li><a href="/">Disclaimer</a></li>
		</ul>
	</div>
	<div class="footer-social">
		<i class="fa-brands fa-twitter"></i>
		<i class="fa-brands fa-facebook"></i>
		<i class="fa-brands fa-instagram"></i>
		<i class="fa-brands fa-tiktok"></i>
	</div>
	<p>
		SoapWorks LLC @<strong></strong><br /> All rights reserved
	</p>
</Footer>