<Footer class="main-footer">
	<div class="footer-links">
		<ul>
			<li><a>Careers</a></li>
			<li><a>About us</a></li>
			<li><a>Contact</a></li>
			<li><a>Suggestions</a></li>
		</ul>
		<ul>
			<li><a>Proccess</a></li>
			<li><a>Ambassadors</a></li>
			<li><a>Issues</a></li>
			<li><a>Disclaimer</a></li>
		</ul>
		<ul>
			<li><a>Proccess</a></li>
			<li><a>Ambassadors</a></li>
			<li><a>Issues</a></li>
			<li><a>Disclaimer</a></li>
		</ul>
		<ul>
			<li><a>Proccess</a></li>
			<li><a>Ambassadors</a></li>
			<li><a>Issues</a></li>
			<li><a>Disclaimer</a></li>
		</ul>
	</div>
	<div class="footer-social">
		<i class="fa-brands fa-twitter"></i>
		<i class="fa-brands fa-facebook"></i>
		<i class="fa-brands fa-instagram"></i>
		<i class="fa-brands fa-tiktok"></i>
	</div>
	<p>
		SoapWorks LLC @<strong></strong> All right reserved
	</p>
</Footer>