<Footer class="main-footer">
	<div class="footer-links">
		<ul>
			<li><a href="/about">About us</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<div class="footer-social">
		<i class="fa-brands fa-twitter"></i>
		<i class="fa-brands fa-facebook"></i>
		<i class="fa-brands fa-instagram"></i>
		<i class="fa-brands fa-tiktok"></i>
	</div>
	<p>
		SoapWorks LLC @<strong></strong><br /> All rights reserved
</p>
</Footer>