<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7,8,edge" />
    <meta http-equiv="refresh" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/global/global.css" />
    <link rel="stylesheet" href="/pages/Index/css/index.css" />
    <script src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script defer type="module" src="/global/global.js"></script>
    <script defer type="module" src="/pages/Index/js/index.js"></script>
    <title>Soap Works</title>
</head>

<body>
    <%- include("../../partials/Header/Header.ejs") %>
        <%- include("../../partials/Cart/Cart.ejs") %>
            <%soaps.forEach((item)=> {%>
                <h1>
                    <%=item.Title%>
                </h1>
                <%})%>

                    <%- include("../../partials/Footer/Footer.ejs") %>
</body>

</html>