  <section class="contact-section">
    <h3 class="contact-heading">Contact Us</h3>
    <form class="main-contact">
      <label class="hidden" for="name">Name</label>
      <input type="text" placeholder="Name" name="name" id="name">
      <label class="hidden" for="email">Email</label>
      <input type="email" name="email" placeholder="Email" id="email">
      <label class="hidden" for="tel">Phone Number</label>
      <input type="tel" name="tel" id="tel" placeholder="Number">
      <label class="hidden" for="message">Message</label>
      <textarea name="message" id="message" placeholder="Your Message" cols="30" rows="10"></textarea>
      <button type="submit">Send</button>
    </form>
  </section>