.main-contact {
  margin-bottom: 10%;

  input {
  	width: 100%;
    border-radius: 0.25em;
    margin-bottom: 1em;
    padding: 1em;
    outline: none;
    border: none;
    box-shadow: 0 0.1em 0.25em 0 #eee;
  }

  textarea {
    border-radius: 0.25em;
    padding: 0.5em;
    outline: none;
    border: none;
    box-shadow: 0 0.1em 0.25em 0 #eee;
    width: 100%;
  }

  button {
  }
}

.contact-heading {
  font-weight: 600;
  font-size: 4em;
}
