.contact-section {
  @media (min-width: 1024px) {
    padding: 0 200px;
  }
}

.main-contact {
  margin: 0 auto;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  input {
    width: 100%;
    font-size: 2em;
    border-radius: 0.25em;
    margin-bottom: 1em;
    padding: 1em;
    outline: none;
    border: none;
    box-shadow: 0 0.1em 0.25em 0 #eee;
  }

  textarea {
    width: 100%;
    font-size: 2.5em;
    border-radius: 0.25em;
    padding: 0.5em;
    outline: none;
    border: none;
    box-shadow: 0 0.1em 0.25em 0 #eee;
  }

  button {
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
    background-color: #ffb6c1;
    font-size: 2em;
    margin-top: 1em;
    align-self: flex-start;
    box-shadow: 0 0.1em 0.25em 0 #4f4f4f;
  }
}

.contact-heading {
  margin: 20% 0 10% 2%;
  font-weight: 600;
  font-size: 4em;
}