<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7,8,edge" />
    <meta http-equiv="refresh" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/global/global.css" />
    <link rel="stylesheet" href="/pages/Index/css/index.css" />
    <link rel="stylesheet" href="/pages/About/css/about.css">
    <script src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script defer type="module" src="/global/global.js"></script>
    <script defer type="module" src="/pages/About/js/about.js"></script>
    <title>Soap Works</title>
</head>
<body>
    <%- include("../../partials/Header/Header.ejs") %>
    <img class="about-heading-img" src="https://thenerdyfarmwife.com/wp-content/uploads/2021/02/social_media_image_soap_package.jpg" alt="Soap template">
    <section>
        <h1>About Us</h1>
        <h2>Origin:</h2>
        <p>Our journey began as a hobby like many other great insprational businesses that begin small and end up big. Day by day time was spent more and more doing the things that were loved the most and benefitted my family and ones close around me. It made me feel AMAZING!! And it kept the motivation alive inside of me. I was self taught and day by day grew my experience, knowledge and skill.</p>
        <h2>Training</h2>
        <p>Training began back in August of 2014. As things began to slightly become more serious only in a manner of personal development, I dedicated more and more hours of my day to bringing the best reslut to the table. My friendships grew in size with others who shared simillar passions for making natural produts, but of any kind. One of the most beneficial in both exprience with soap making and partnership was a turly dear friend of mine that had a passion for bees. This is where ideas really started to take off for the business.</p>
        <h2>The Website</h2>
        <p>I knew as my skills grew and the quality of my product started to take a serious shape in health, beauty, and nature, and the amount of customers grew in numbers that the best way for me to continue this journey and build it up was to get the product online. I immediately connected with a professional web developer and chose to build a website where I could showcase this amazing and beneficial product to the natiion, heck even the WORLD! After the time, money and hard work the website turly paid off. It allowed customers far from reach to begin expriencing the product I love and enjoy to make so much.</p>
    </section>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNFPzaXhREzxpYQIMhMb-zYyh_r_iS6n6TCA&usqp=CAU" alt="second tamplate image">
    <section class="no-mt">
        <h1>Where To Go?</h1>
        <h2>Goals</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, laborum dolor ab sint qui aliquam beatae dignissimos. Veritatis iure labore deleniti ea quasi sequi expedita magni placeat nemo, error cumque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus veniam voluptates ut deleniti soluta impedit molestiae explicabo incidunt, asperiores harum necessitatibus quisquam, dolor consequatur animi iste reiciendis! Repellendus, molestias praesentium!</p>
        <h2>1 Year Later</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius magnam libero quis ducimus, aspernatur necessitatibus optio aliquid tenetur fugit veniam inventore enim consequuntur! Ipsa ipsum officia quisquam. Soluta, consequatur? Id.</p>
        <h2>What's Next?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ullam. Sit aperiam qui laboriosam! Est nobis provident dolorem similique suscipit obcaecati vitae, expedita optio cum, et dolorum veritatis? Doloribus, quo?Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis pariatur, dolorum officiis unde, doloribus deleniti laborum, illum ratione quisquam accusantium voluptates. Ea quaerat soluta a consequatur maiores aut odit maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ipsa rem sequi ea nulla veniam provident incidunt rerum quibusdam velit aliquam itaque et, sapiente quia magni maiores sint ab soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aspernatur assumenda voluptas doloribus magnam facilis, non qui illum delectus nostrum alias eaque reprehenderit iste odit sapiente dolore officiis tempora voluptates!</p>
    </section>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLgIdZRWUjPgDIadV-6o16NtbNrNp_NESKQA&usqp=CAU" alt="template img 3">
    <p class="end">If you are interested in learning more about SoapWorks, please feel free to use the ocntact form below and get in touch with me personally</p>
    <%- include('../../partials/Contact/Contact.ejs') %>
    <%- include('../../partials/Footer/Footer.ejs') %>
</body>
</html>