.men-women-grid {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;

  .men-women-item {
    position: relative;
    width: 100%;
    box-shadow: 0 0.25em 0.75em 0 #aaa;
    opacity: 0;
    transition: 500ms ease-in-out;
    transform: translateY(50%);
    border-radius: 10px;
    overflow: hidden;

    h2 {
      position: absolute;
      bottom: 0;
      padding: 8px;
      background-color: #fff;
      border-radius: 0.75em 0.75em 0 0;
    }

    .men-women-img {
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }

  .men-women-item.inview {
    opacity: 1;
    transform: translateY(0);
  }
}
