.men-women-grid {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .men-women-grid .men-women-item {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0.25em 0.75em 0 #aaa;
    opacity: 0;
    transition: 500ms ease-in-out;
    transform: translateY(50%); }
    .men-women-grid .men-women-item h2 {
      font-size: 2em;
      position: absolute;
      bottom: 0;
      padding: 1em;
      background-color: #fff;
      width: 100%;
      border-radius: 0.75em 0.75em 0 0; }
    .men-women-grid .men-women-item .men-women-img {
      z-index: -1;
      width: 100%;
      height: 100%; }
  .men-women-grid .men-women-item.inview {
    opacity: 1;
    transform: translateY(0); }
