<div class="cart">
	<div class="cart-container">
	</div>
	<div class="cart-info">
		<p class="total-price">
			Total: $<strong>0</strong>
		</p>
		<p class="item-total">
			Items: <strong>0</strong>
		</p>
	</div>
	<button class="checkout">Checkout</button>
</div>