.cart {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-150%);
  width: 75vw;
  height: 75vh;
  z-index: 995;
  background-color: #fff;
  border-radius: 10px;
  transition: 1s cubic-bezier(0.01, 0.5, 0.3, 1);
  overflow-y: auto; }
  .cart .cart-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 1em; }
    .cart .cart-info p {
      margin: 0 1em; }
  .cart .checkout {
    transition: 250ms ease-in-out; }
    .cart .checkout:hover {
      background-color: #fff;
      scale: 1.01; }

.cart.show {
  transform: translateX(-50%) translateY(0); }

.cart-container {
  width: 100%;
  margin: 100px 0; }
  .cart-container .no-items-in-cart {
    width: 75%;
    text-align: center;
    transition: 250ms ease-in-out; }
  .cart-container .cart-item {
    position: relative;
    border-radius: 5px;
    margin: 25px 0;
    display: flex;
    height: 200px;
    overflow: hidden;
    align-items: center;
    background-color: #fff; }
    .cart-container .cart-item img {
      min-width: 100%; }
    .cart-container .cart-item h2 {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 16px;
      background-color: #fff; }
    .cart-container .cart-item .quantity-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 40%;
      right: 10%;
      left: 10%; }
      .cart-container .cart-item .quantity-container button {
        padding: 0.25em 1em;
        border: none;
        outline: none;
        border-radius: 5px;
        font-weight: 700;
        transition: 250ms ease-in-out; }
        .cart-container .cart-item .quantity-container button:hover {
          background-color: #fff;
          scale: 1.01; }
      .cart-container .cart-item .quantity-container .cart-item-quantity {
        font-weight: 600;
        margin: 0 1em;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center; }
    .cart-container .cart-item .danger {
      position: absolute;
      margin: 0;
      width: min-content;
      top: 0;
      right: 0;
      background-color: #cc4f6f;
      border-radius: 0.5em;
      padding: 0.5em 1em; }
