<header class="flex flex-row">
	<a href="/" class="logo">
		SW
	</a>
	<div class="menu-toggle flex flex-col">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<%- include('../Nav/Nav.ejs') %>
	</header>